body{
    font-family: ;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    width: 495px;
}

header{
  
    background: #ebebeb;
    width: 960px;
    height: 75px;
    text-align: center;
    font-size: 18px;
    color: black

}
nav{
    background: #ebebeb;
    width: 960px;
    height: 75px;
    text-align: center;
}

aside{
    background: #ebebeb;
    width: 400px;
    height: 400px;
    margin: 300px;   
    text-align: center;
    font-size: 18px;
    color: black 
       
}
section{
    background: #ebebeb;
    width: 400px;
    height: 400px;
    margin: 300px;   
    text-align: center;
    font-size: 18px;
    color: black 
}
h1{
    
    background: darkgray;
    width: 350px;
    height: 75px;
    text-align: center;
    font-size: 18px;
    color: black
}    
  p{
    background: darkgray;
    width: 350px;
    height: 75px;
    text-align: center;
    font-size: 18px;
    color: black
  }  

div {
    background-color: lightgrey;
    width: 300px;
    border: 25px solid black;
    padding: 25px;
    margin: 25px;
  }
}
footer{
    background: #ebebeb;
    width: 960px;
    height: 75px;
    text-align: center;
}